/****** NAVBAR *********/

div.header {
  background: linear-gradient(to right, rgb(177, 127, 181), rgb(128, 189, 189), rgb(255, 243, 207));
}

.notification-indicator .mail-status {
  border: 0px !important;
  background-image: linear-gradient(rgb(177, 127, 181), rgb(128, 189, 189)) !important;
}

.header-search-scope {
  border-right: 1px solid #f1e8e7 !important;
  color: white !important;
}

.header-nav-link {
  color: white !important;
}

/****** BODY *********/

.btn-primary {
  /*background-image: linear-gradient(to right, rgb(128, 189, 189), rgb(255, 243, 207)) !important;*/
  background-image: linear-gradient(rgb(128, 189, 189), rgb(128, 189, 189)) !important;
  border: 0px !important;
}

.boxed-group > h3, .commit-tease {
  background: linear-gradient(to right, rgb(253, 235, 255), rgb(255, 243, 207), rgb(165, 255, 255));
  -webkit-animation: rainbow 18s ease infinite;
  -z-animation: rainbow 18s ease infinite;
  -o-animation: rainbow 18s ease infinite;
  animation: rainbow 18s ease infinite;
  background-size: 240% 240%;
  border-color: #dfe2e5 !important;
}
