/****** NAVBAR *********/

div.header {
  background: linear-gradient(to right, rgb(177, 127, 181), rgb(128, 189, 189), rgb(255, 243, 207));
}

.notification-indicator .mail-status {
  border: 0px !important;
  background-image: linear-gradient(-180deg, rgb(177, 127, 181) 0%, rgb(128, 189, 189) 90%) !important;
}

.header-search-scope {
  border-right: 1px solid #f1e8e7 !important;
  color: white !important;
}

.header-nav-link {
  color: white !important;
}
